<div class="row">
    <div class="col s12">
        <h2 class="header">Install with aze-installer</h2>
        <div class="section">
            <h3>Test</h3>
            <p>azeazeaze azeaze</p>
            <pre class="language-php">
                <code>
                $tes = "1";
                $tes += 1;
                </code>
            </pre>
            <pre class="language-bash">
                <code>
composer global require "airmanbzh/installer"
                </code>
            </pre>
        </div>
    </div>
</div>