<div class="row">
    <div class="col s12">
        <div class="section">
            <h4>How to install</h4>
            <pre class="language-bash"><code>composer require "aze/aze"</code></pre>
        </div>
        <div class="section">
            <h4>How to use</h4>
            <p>Install aze/cli</p>
            <pre class="language-bash"><code>composer global require "aze/cli"</code></pre>
            <p>And launch a local server</p>
            <pre class="language-bash"><code>aze serve
// Or use the following command to serve your application and open a browser
aze serve -o</code></pre>
            <div class="card-panel orange lighten-2">Warning : it's recommended to use this only on a dev environment</div>
            <a href="https://github.com/aze-php/cli">More about aze/cli</a>
            <p>You can also serve your application with apache or nginx</p>
        </div>
    </div>
</div>